*{
    padding: 0;
    margin: 0;
}
.title{
    display: flex;
    align-items: baseline;
    gap: 30px;
}
.title h1{
    margin-left: 80px;
    font-size: 30px;
}
.title p{
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    margin-left:  300px;
    margin-right: 100px;
    
}
.header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.header .header-item1{
    background-color: purple;
    width: 50%;
    height: 150px;
}
.header .header-item2{
    background-color: yellow;
    width: 25%;
    height: 150px;
}
.list-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:500px;
}
.item{
    display: flex;
    justify-content: center;
    height:100%;
    width: 30%;
    border: 1px solid;
    margin: 20px 0;
}